<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="Пользователи"></title>

    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

</div>
    <a th:href="${'/register'}"> Создать нового пользователя </a>
    <div th:if="${not #lists.isEmpty(users)}">
        <h2> Список пользователей </h2>
        <table class="table table-striped">
            <tr>
                <th th:text="ID"></th>
                <th th:text="Заблокирован"></th>
                <th th:text="Имя"></th>
                <th th:text="Роль"></th>
                <th th:text="Действия"></th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.enabled == true} ? 'Нет' : 'Пользователь заблокирован'"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.authorities}"></td>
                <td>
                    <ul class="list-inline">
                        <li><a th:href="${'/users/delete/' + user.id}" th:text="Удалить"></a> </li>
                        <li><a th:href="${'/users/edit/' + user.id}" th:text="Редактировать"></a> </li>
                        <li><a th:href="${'/users/details/' + user.id}" th:text="Карточка"></a> </li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

</body>
</html>