<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="'Редактирование текущей брони'"></title>

    <!--/*/ <th:block th:include="fragments/header:: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2  th:text="'Редактирование текущей брони'"></h2>
    <div>
        <ul>
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
        </ul>
        <form  class="form-horizontal" th:object="${booking}" th:action="@{/booking/saveEditedRoom}" method="post">
            <input type="hidden" th:field="${booking.id}"/>
            <input type="hidden" th:field="${booking.room.id}"/>
            <input type="hidden" th:field="*{room}"/>
            <div th:if="${#fields.hasErrors('room')}" th:errors="*{room}" class="alert alert-danger" role="alert"></div>
            <div class="form-group">
                <label class="col-sm-2 control-label" th:text="'Дата заезда'"></label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                        <input type="date" placeholder="Введите дату заезда гостя" class="form-control" th:field="*{arrival_date}" th:required="required"/>
                        <div th:if="${#fields.hasErrors('arrival_date')}" th:errors="*{arrival_date}" class="alert alert-danger" role="alert"></div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" th:text="'Дата выезда'"></label>
                <div class="col-sm-10">
                    <div class="col-sm-10">
                        <input type="date" placeholder="Введите дату выезда гостя" class="form-control" th:field="*{date_of_departure}" th:required="required"/>
                        <div th:if="${#fields.hasErrors('date_of_departure')}" th:errors="*{date_of_departure}" class="alert alert-danger" role="alert"></div>
                    </div>
                </div>
            </div>

            <div th:if="${booking.canceled} == false">
                <div class="alert alert-success">
                    <strong>Бронь активна</strong>
                </div>
                <a th:href="${'/booking/cancellation/' + booking.id}" class="btn btn-default btn-block" role="button">Отменить бронь</a>
            </div>

            <div th:if="${booking.canceled} == true">
                <div class="alert alert-danger">
                    <strong>Бронь не активна</strong>
                </div>
                <a th:href="${'/booking/cancellation/' + booking.id}" class="btn btn-default btn-block" role="button">Восстановить бронь</a>
            </div>

            <div>
                <button type="submit" class="btn btn-default btn-block" th:text="'Сохранить'"></button>
            </div>
        </form>

    </div>
</div>

</body>
</html>