<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="Брони"></title>

    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

</div>
<a th:href="${'/booking/new'}">Создать новую бронь</a>
<div th:if="${not #lists.isEmpty(bookings)}">
    <h2>Список броней</h2>
    <table class="table table-striped">
        <tr>
            <th th:text="ID"></th>
            <th>Дата бронирования</th>
            <th th:text="Номер"></th>
            <th>Дата заезда</th>
            <th>Дата выезда</th>
        </tr>
        <tr th:each="booking : ${bookings}">
            <td th:text="${booking.id}"></td>
            <td th:text="${booking.date_buking}"></td>
            <td th:with="room=${booking.room}" th:text="${room.no}"></td>
            <!--<td th:text="${booking.room_id}"></td>-->
            <td th:text="${booking.arrival_date}"></td>
            <td th:text="${booking.date_of_departure}"></td>
            <td>
                <ul class="list-inline">
                    <li><a th:href="${'/booking/delete/' + booking.id}" th:text="Удалить"></a> </li>
                    <li><a th:href="${'/booking/edit/' + booking.id}" th:text="Изменить"></a> </li>
                    <li><a th:href="${'/booking/details/' + booking.id}" th:text="Посмотреть"></a> </li>
                </ul>
            </td>
        </tr>
    </table>
</div>

</body>
</html>