<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="Брони"></title>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
    <script th:src="@{/js/functions.js}"></script>

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

</div>
<a th:href="${'/booking/new'}">Создать новую бронь</a>
<div th:if="${not #lists.isEmpty(bookings)}">
    <h2>Список броней</h2>
    <table class="table table-bordered table-hover" id="bookingsTable">
        <tr>
            <th>
                ID
            </th>

            <th>
                Дата бронирования<br/>
                <input type="date" class="form-control" id="dateFromFilter" onchange="performFilter()"/>
                <input type="date" class="form-control" id="dateToFilter" onchange="performFilter()"/>
            </th>

            <th>
                Номер<br/>
                <input type="number" placeholder="Введите номер" class="form-control" id="roomFilter" onchange="performFilter()"/>
            </th>

            <th>
                Дата заезда<br/>
                <input type="date" class="form-control" id="dateFromArrivalFilter" onchange="performFilter()"/>
                <input type="date" class="form-control" id="dateToArrivalFilter" onchange="performFilter()"/>
            </th>

            <th>
                Дата выезда<br/>
                <input type="date" class="form-control" id="dateFromDepartureFilter" onchange="performFilter()"/>
                <input type="date" class="form-control" id="dateToDepartureFilter" onchange="performFilter()"/>
            </th>

            <th>
                Админ<br/>
                <select id="adminFilter" class="form-control"  onchange="performFilter()">
                    <option value="" selected="selected"></option>
                    <option th:each="user : ${users}"
                            th:value="${user.id}"
                            th:text="${user.username}">
                    </option>
                </select>
            </th>

            <th>
                Действия<br/>

            </th>
        </tr>
        <tr>
            <script th:inline="javascript">
                $( document ).ready(function() {
                    performFilter();
                });


                function performFilter() {
                    var header = $("meta[name='_csrf_header']").attr("content");
                    var token = $("meta[name='_csrf']").attr("content");
                    filter(header, token)
                }

            </script>
        </tr>
    </table>
</div>
</body>
</html>