<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title th:text="Брони"></title>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
    <script th:src="@{/js/functions.js}"></script>

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

</div>
<a th:href="${'/booking/new'}">Создать новую бронь</a>
<div th:if="${not #lists.isEmpty(bookings)}">
    <h2>Список броней</h2>
    <table class="table table-bordered table-hover" id="bookingsTable">
        <tr>
            <th>
                ID
            </th>

            <th>
                Дата бронирования<br/>
                <input type="date" class="form-control" id="dateFromFilter" onchange="filter()"/>
                <input type="date" class="form-control" id="dateToFilter" onchange="filter()"/>
            </th>

            <th>
                Номер<br/>
                <input type="number" placeholder="Введите номер" class="form-control" id="roomFilter" onchange="filter()"/>
            </th>

            <th>
                Дата заезда<br/>
                <input type="date" class="form-control" id="dateFromArrivalFilter" onchange="filter()"/>
                <input type="date" class="form-control" id="dateToArrivalFilter" onchange="filter()"/>
            </th>

            <th>
                Дата выезда<br/>
                <input type="date" class="form-control" id="dateFromDepartureFilter" onchange="filter()"/>
                <input type="date" class="form-control" id="dateToDepartureFilter" onchange="filter()"/>
            </th>

            <th>
                Действия<br/>
                <input type="hidden" class="form-control" id="adminFilter"/>
            </th>
        </tr>
        <tr>
            <script th:inline="javascript">
                $( document ).ready(function() {
                    filter();
                });
            </script>
        </tr>
    </table>
</div>
</body>
</html>