<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">

    <title>Hotel Russia</title>
    <!--/*/ <th:block th:include="fragments/header :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div class ="jumbotron">
        <h1 th:text="${message}" />
    </div>
    <div class="col-sm-12">
        <div th:if="${not #lists.isEmpty(bookings)}">
            <h2> Список номеров, которые требуют продления </h2>
            <table class="table table-striped">
                <tr>
                    <th th:text="ID"></th>
                    <th>Дата бронирования</th>
                    <th th:text="Номер"></th>
                    <th>Дата заезда</th>
                    <th>Дата выезда</th>
                    <th>Администратор</th>
                    <th>Состояние брони</th>
                    <th>Действия</th>
                </tr>
                <tr th:each="booking : ${bookings}">
                    <td th:text="${booking.id}"></td>
                    <td th:text="${booking.dateBuking}"></td>
                    <td th:with="room=${booking.room}" th:text="${room.no}"></td>
                    <td th:text="${booking.arrivalDate}"></td>
                    <td th:text="${booking.dateOfDeparture}"></td>
                    <td th:with="user=${booking.user}" th:text="${user.username}"></td>

                    <td>
                        <div th:if="${booking.canceled} == false">
                            <div class="alert alert-success text-center">
                                <strong>Активна</strong>
                            </div>
                        </div>
                        <div th:if="${booking.canceled} == true">
                            <div class="alert alert-danger text-center">
                                <strong>Завершена</strong>
                            </div>
                        </div>
                    </td>

                    <td>
                        <ul class="list-inline">
                            <li><a th:href="${'/booking/edit/' + booking.id}" th:text="Продлить"></a> </li>
                            <li><a th:href="${'/booking/details/' + booking.id}" th:text="'Карточка брони'"></a> </li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>

